html, body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}


/* main section */

.main {
    height: 100vh;
    background: url("images/background.jpg") no-repeat center center;
    background-size: cover;
}

.header {
    height: 100vh;
}

.main .header {
    background-image: url("images/mainBackground.png");
    background-size: cover;
    opacity: 0.93;
}

.main .selection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .selection .center {
    width: 100vh;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: red;
}

.main a {
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.circle {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 7em;
    width: 7em;
    line-height: 7em;
    border-radius: 50%;
    border: 5px solid rgba(204, 224, 259, 0.1);
}

.main .circle:hover {
    background-color: transparent;
    border: 5px solid rgba(236, 134, 78, 0.7);
    font-size: 20px;
    color: white;
}

.main a {
    text-decoration: none;
    color: black;
}

.main a:hover {
    color: white;
}


/* about section */

.about {
    height: 100vh;
    background-color: #83AF9B;
}

.about .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about .pic {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px green solid;
}

.about .circle {
    height: 12em;
    width: 12em;
    background-image: url("images/profilepic.jpg");
    background-position: center;
    background-size: cover;
    border: 5px solid lightcoral;
}

.about .bio {
    width: 60vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    font-size: 2vw;
}

.about .footer {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
}


/* skills section */


/* resuheader section */

.resume {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("images/myResume.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* education section */

.education {
    height: 100vh;
    background-image: url("images/lehman.jpg");
    background-size: cover;
}

.education .wrapper {
    height: 100vh;
    text-align: center;
    background-color: rgba(236, 134, 78, 0.7);
}


}
